.hero-section {
  color: #cfcbc5;
  
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
  .hero-title {
    font-size: 3rem;
    font-weight: 800;
    color: #cfcbc5;
    font-family: "eurostile", sans-serif;
  }

  h2 {
    // color: #0a0a0ae6;
    font-family: "europa", sans-serif;
    font-weight: 400;
  }

  .hero-device {
    // max-width: 860px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // overflow: hidden;
    margin-top: 5rem;
    img {
      width: 860px;
      height: 340px;
    }
  }
}

.my-image{
  border-radius: 50%;
  
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.intro {
  background-color: #6e07f3;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 9rem 0 9rem 0;
  text-align: center !important;
  flex-direction: column;
}

.skill-item {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  // border: 1px solid #ccc;
  // background-color: white;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.skill{
  // width: 1rem;
  text-align: center;
  &:hover{
    text-shadow: #6e07f3;
  }
}

.skill-container{
  // padding: 6rem;
  width: 100%;
  border-radius: 16px;
  border: 1px solid gray;
  box-sizing: border-box;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 7rem;
}


@media screen and (max-width: 600px) {
  .hero-section{
    padding: 10px;
    margin-top: 0 !important;
  }

  .hero-title{
    text-wrap: wrap;
    text-align: center;
  }

  .img-container{
    margin-top: 0;
  }
  .hero-device {
   
    margin-top: 0 !important;
    img {
      width: 250px !important;
    }}

    .skill-container{
      width: 100%;
      // flex-wrap: wrap;
      // flex-direction: column;
      justify-content: space-around;
      padding: 10px;
      gap: 30px;

      & *{
        width: 50px;
        align-self: flex-start;

        h3{
          display: none;
        }

      }
    }
  
}
