<section class="hero-section">
  <h1 class="hero-title">🧑‍💻 Full Stack Developer & Mentor 😊</h1>
  <h2>I love what I do. ❤️</h2>

  <div class="img-container">
    <p>
      <img src="my-image2.jpeg" alt="" class="my-image" width="200" />
    </p>
    <p class="hero-device">
      <img src="hero-devices.svg" alt="" />
    </p>
  </div>
  <div class="intro">
    <h1>Hi, I'm Srinath Yadav Vayalpati. Nice to meet you.</h1>
  </div>
  <sc-about />
  <h2 style="font-size: 1.5rem" id="skills">Skills</h2>

  <div class="skill-container">
    <div>
      <img src="html-logo.svg" alt="html-logo" />
      <h3 class="skill">HTML</h3>
    </div>
    <div>
      <img src="css-logo.svg" alt="css-logo" />
      <h3 class="skill">CSS</h3>
    </div>
    <div>
      <img src="js-logo.svg" alt="js-logo" />
      <h3 class="skill">JavaScript</h3>
    </div>

    <div>
      <img src="ts-logo.svg" alt="" />
      <h3 class="skill">TypeScript</h3>
    </div>
    <div>
      <img src="angular-logo.svg" alt="" />
      <h3 class="skill">Angular</h3>
    </div>
    <div>
      <img src="react-logo.svg" alt="" />
      <h3 class="skill">React</h3>
    </div>
    <div>
      <img src="nodejs-logo.svg" alt="" />
      <h3 class="skill">Node JS</h3>
    </div>
    <div>
      <img src="java-logo.svg" alt="java-logo" />
      <h3 class="skill">Java</h3>
    </div>
    <div>
      <img src="aws-logo.svg" alt="" />
      <h3 class="skill">AWS</h3>
    </div>
    <div>
      <img src="azure-logo.svg" alt="azure-logo" />
      <h3 class="skill">Azure</h3>
    </div>
  </div>
</section>
