
<section id="about">
    <h2 class="text-center">Get To Know More!</h2>
    <h2 class="text-center about-me">About Me</h2>
    <!-- <h2>{{ title }}</h2> -->

    <div class="about-container">
        <div class="about-content">
            <img src="experience.png" alt="" width="50">
            <h3>Experience</h3>
            <h3>2+ Years</h3>
            <h3>Frontend Developer</h3>
        </div>
        <div class="about-content">
            <img src="education.png" alt="" width="50">

            <h3>Education</h3>
            <h3>Mechanical Engineering</h3>
            <h3>JNTU Ananthapur.</h3>
        </div>

        <p class="description">{{ description }}</p>
    </div>
</section>
