<section id="about">
  <h2 class="text-center">Get To Know More!</h2>
  <h2 class="text-center about-me">About Me</h2>
  <!-- <h2>{{ title }}</h2> -->

  <div class="about-container d-flex align-center flex-column">
    <div class="about-content">
      <img src="experience.png" alt="" width="50" class="align-center" />
      <h3 class="text-2xl mb-2 outline-red-50">Experience</h3>
      <h3>2+ Years</h3>
      <h3>Frontend Developer</h3>
    </div>
    <div class="about-content">
      <img src="education.png" alt="" width="50" />

      <h3 class="text-2xl mb-2ß">Education</h3>
      <h3>Mechanical Engineering</h3>
      <h3>MITS Madanapalle.</h3>
    </div>

    <p class="description">{{ description }}</p>
  </div>
</section>
