<section id="contact">
    <h2 class="text-center">Get In Touch</h2>
    <h3 class="contact">Contact Me!</h3>
    <div class="contact-container">
        <div>

            <a href="mailto:srinathsree122@gmail.com" >
                <img src="email-logo.svg" alt="" width="150" title="Email">
                
            </a>
        </div>
        <div>
            <a href="https://github.com/srinathsree66" target="_blank">
                <img src="github-logo.png" alt="github-logo" width="100" title="GitHub">

            </a>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/srinathsree66" target="_blank">
                <img src="linkedin-logo.svg" alt="linkedin-logo" width="100" title="linkedin">

            </a>
        </div>
        <div>
            <a href="https://www.youtube.com/@sreecodes" target="_blank">
                <img src="youtube-logo.svg" alt="youtube-logo" width="100" title="youtube">

            </a>
        </div>
        <div>
            <a href="https://x.com/sree_tw" target="_blank">
                <img src="twitter-logo.svg" alt="twitter-logo" width="100" title="Twitter">

            </a>
        </div>
    </div>
</section>


