<header>
  <!-- Image -->
  <nav class="nav-menu">
    <div class="header-img">
      <img src="logo-transparent.png" width="100" height="100" />
    </div>
    <ul>
      <!-- <li class="mentorship">Mentorship</li> -->
      <li>
        <a href="#about" class="say-hello"> About </a>
      </li>
      <li>
        <a href="#skills" class="say-hello"> Skills </a>
      </li>
      <li>
        <a href="#contact" class="say-hello">contact</a>
      </li>
      <li>
        <a class="say-hello" href="mailto:srinathsree122@gmail.com"> Say Hello 👋</a>
      </li>
    </ul>
  </nav>
</header>
