/* You can add global styles to this file, and also import other style files */
html,body{
    scroll-behavior: smooth;
    color-scheme: dark;
    // border: 15px solid;
    // animation: rainbow-border 2s infinite linear;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text-center{
    text-align: center;
}

@keyframes rainbow-border {
    0% {
        border-color: #ff6f61, #6a5acd, #32cd32, #1e90ff; /* Coral, SlateBlue, LimeGreen, DodgerBlue */
    }
    25% {
        border-color: #ff8c00, #20b2aa, #d2691e, #ba55d3; /* DarkOrange, LightSeaGreen, Chocolate, MediumOrchid */
    }
    50% {
        border-color: #ff6347, #8a2be2, #3cb371, #ff1493; /* Tomato, BlueViolet, MediumSeaGreen, DeepPink */
    }
    75% {
        border-color: #f08080, #00bfff, #ff6347, #9932cc; /* LightCoral, DeepSkyBlue, Tomato, DarkOrchid */
    }
    100% {
        border-color: #ff6f61, #6a5acd, #32cd32, #1e90ff; /* Coral, SlateBlue, LimeGreen, DodgerBlue */
    }
}
